.container1{
    width: 100%;
    height: 100rem;
    display: block;
    justify-content: center;background-color:palegreen;
    padding: 5rem;


    
}
h1{
    margin-left: 27rem;
}
.container_2{
    margin-left: 25rem;
    width: 20rem;
    padding:1rem;
    display: flex;
    align-items: center;
    background-color: rgb(86, 155, 180);
    padding: 1rem;
    border-radius: 1rem;

}
.contact_cont1{
    margin-left: 4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.contact_cont{
    margin-left: 2.3rem;
}
button{
    margin-left: 6.5rem;
    margin-top: .5rem;
    cursor: pointer;
}